#root {
    text-align: center;
    width: 100%;
}

.ant-form-item-label > label {
    color: white !important;
    font-weight: bold;
}

.ant-input {
    background-color: #1e2736 !important;
}

.ant-input::placeholder {
    color: white;
}

.ant-tabs-tab-btn {
    color: white !important;
}

.ant-tabs-tab-active {
    color: #84a1d7 !important;
}

.ant-tabs-tab {
    color: white !important;
}

.ant-tabs-ink-bar {
    background-color: #1e345b !important;
}

/* style for ant tables */
.ant-table-thead > tr > th {
    background-color: #14233e !important;
    color: white !important;
}

.ant-table-tbody > tr > td {
    background-color: #14233e !important;
    color: white !important;
    outline: none !important;
    border-radius: 0px;
}

/* page number style for antd */
.ant-pagination-item {
    color: white !important;
}

.ant-pagination-item:hover {
    background-color: #1e2736 !important;
    color: white !important;
}

/* ant modal style for forms */
.ant-modal-content {
    background-color: #181e28 !important;
    color: white !important;
}

.ant-modal-header {
    background-color: #181e28 !important;
    color: white !important;
}

.ant-modal-footer {
    background-color: #181e28 !important;
    color: white !important;
}
