#root {
    min-width: 1280px;
    width: 100vw;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.ant-form-item-label > label {
    color: white !important;
    font-weight: bold;
}

.ant-input {
    background-color: #1e2736 !important;
}

.ant-input::placeholder {
    color: white;
}

.ant-tabs-tab-btn {
    color: white;
}

.ant-tabs-tab-active {
    color: #84a1d7 !important;
}

.ant-tabs-tab {
    color: white !important;
}

.ant-tabs-ink-bar {
    background-color: #1e345b !important;
}
