.movie-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.movie-details-image {
    object-fit: contain;
    margin: 2rem;
}

.movie-details-info {
    margin: 2rem;
}

.bookings-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

.shows-ul {
    list-style: none;
}

.shows-li {
    border: 2px solid white;
    width: 10%;
    padding: 2px;
    margin: 2px;
    cursor: pointer;
}
